.hero-wrapper {
  height: 100vh;
  background: url(../../assets/images/hero-bg.png);
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}

.timer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.time-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.timer-number {
  line-height: 0.8;
}

.timer-dot {
  width: 18px;
  height: 22px;
  background-color: var(--pink);
  margin-bottom: 3rem;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-btns button {
  width: 222px;
  height: 72px;
}

/* welcome-wrapper STARTS ============================= */
.welcome-wrapper {
  background: url(../../assets/images/bg-2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}
.welcome {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.welcome-left,
.welcome-right {
  flex: 1;
}

.welcome-left img {
  width: 100%;
}
/* welcome-wrapper ENDS ============================= */

/* our-team-wrapper STARTS */
.our-team-wrapper {
  background: url(../../assets/images/big-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.slider-btns button {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #04060f;
  color: #04060f;
  border-radius: 50%;
  font-size: 1.5rem;
}
/* our-team-wrapper ENDS */
