.hero-wrapper {
  height: 1200px;
  background: url(../../assets/images/hero-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  padding-left: 5%;
}

.hero {
  display: flex;
  align-items: center;
  gap: 5rem;
  height: 100%;
  overflow-x: hidden;
}

.hero-left {
  /* border: 2px solid red; */
  padding: 4rem 0;
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-right {
  /* border: 2px solid blue; */
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  overflow: hidden;
  margin-right: -50px;
}

.hero-right .row {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-right .row:nth-child(1),
.hero-right .row:nth-child(3) {
  height: 80%;
}

.hero-right .row .swiper-container .swiper-wrapper .swiper-slide {
  /* border: 2px solid red; */
  height: fit-content;
}
.hero-right .row .swiper-container .swiper-wrapper {
  gap: 1.5rem;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}

.hero-right .row img {
  width: 200px;
}

.timer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.time-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 2px solid red; */
  gap: 0.8rem;
}

.timer-number {
  line-height: 0.8;
  height: 100px;
  transition: all 0.2s ease;
  /* border: 2px solid red; */
  width: 110px;
}

.timer-dot {
  width: 18px;
  height: 22px;
  background-color: var(--pink);
  margin-bottom: 3rem;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-btns button {
  width: clamp(148px, 15.416666666666666vw, 222px);
  height: clamp(48px, 5vw, 72px);
}

/* welcome-wrapper STARTS ============================= */
.welcome-wrapper {
  background: url(../../assets/images/bg-2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}
.welcome {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.welcome-left,
.welcome-right {
  flex: 1;
}

.welcome-left img {
  width: 100%;
}

.welcome-cat-responsive {
  display: none;
}
/* welcome-wrapper ENDS ============================= */

/* our-team-wrapper STARTS */
.our-team-wrapper {
  background: url(../../assets/images/big-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.slider-btns button {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #04060f;
  color: #04060f;
  border-radius: 50%;
  font-size: 1.5rem;
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
/* our-team-wrapper ENDS */

/* ROADMAP STARTS */
.roadmap-wrapper {
  background: url(../../assets/images/roadmap-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.roadmap-content {
  height: 1250px;
  position: relative;
  width: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 58px;
  align-items: center;
  background-color: transparent;
  /* overflow: hidden; */
  /* padding-top: 150px; */

  margin-bottom: 100px;
}
.roadmap-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  border: 3px dashed #04060f;
  z-index: -1;
}
.roadmap-box {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  /* background-color: red; */
  position: relative;
}

.roadmap-box-content {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  width: 620px;
  /* height: 198px; */
  padding: 36px;

  border-radius: 30px;

  overflow: hidden;
}

.roadmap-box-content.left {
  right: 150%;
}
.roadmap-box-content.right {
  left: 150%;
}

.roadmap-box-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: red; */
  background: #d0a9e8;
  opacity: 0.18;
  backdrop-filter: blur(100px);
  z-index: -1;
}
.roadmap-box.bot {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 100000;
}
.bottle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 57.39px;
  height: 148px;
}

.milk {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  /* height: 80px; */
  height: 10px;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 20px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 20px;

  border: 2px solid #3f2409;

  transition: all 0.2s ease;
}

/* ROADMAP ENDS */

@media (max-width: 1400px) {
  .roadmap-box-content {
    width: 400px;
  }
}

@media (max-width: 1000px) {
  .roadmap-box-content {
    width: 300px;
    padding: 25px;
  }

  .hero-wrapper {
    height: auto;
    padding-top: 30px;
    /* margin-bottom: 100px; */
  }
  .hero {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-left {
    padding-right: 5rem;
  }

  .hero-right {
    margin-right: 0;
    margin-right: 5%;
    max-height: 700px;
  }

  .hero-right .row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero-right .row:nth-child(1),
  .hero-right .row:nth-child(3) {
    height: 500px !important;
  }

  .hero-right .row .swiper-container {
    height: 100%;
  }
  .hero-right .row img {
    width: 100%;
  }

  .title-effect {
    display: none;
  }

  .timer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .time-wrap {
    /* border: 2px solid red; */
    gap: 0.1rem;
  }

  .timer-number {
    height: 65px;
    /* border: 2px solid red; */
    width: 60px;
  }

  .timer-dot {
    width: 13px;
    height: 16px;
    background-color: var(--pink);
    margin-bottom: 2rem;
  }

  .welcome {
    display: flex;
    align-items: unset;
    gap: 0rem;
    flex-direction: column;
    justify-content: unset;
  }
  .welcome-left,
  .welcome-right {
    flex: 1;
  }
  .welcome-left img {
    width: 100%;
    margin-bottom: 2rem;
  }
  .welcome-cat-responsive {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }

  .welcome-right p:nth-child(1) {
    display: none;
  }

  .roadmap-content {
    height: auto;
    margin-bottom: 100px;
    width: 100%;

    justify-content: unset;
    align-items: unset;
    gap: 1rem;
  }

  .roadmap-box {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .roadmap-box:not(:first-child) {
    /* border: 2px solid blue; */
    padding-left: 5rem;
  }

  .roadmap-box-content {
    position: static;

    width: 100%;
    padding: 30px;

    transform: none;
    z-index: 100000 !important;
    background: #d0a9e83f;
  }

  .roadmap-box-content::before {
    display: none;
  }

  .roadmap-content::before {
    left: 30px;
    transform: none;
  }

  .bottle {
    position: absolute;
    top: 100%;
    left: 3px;
    transform: none;

    width: 57.39px;
    height: 148px;
  }
}

@media (max-width: 500px) {
  .hero-left {
    text-align: center;
    padding-right: 7%;

    align-items: center;
  }

  .timer {
    justify-content: center;
  }

  .hero-btns {
    justify-content: center;
  }

  .hero {
    gap: 0;
  }

  .hero-right {
    max-height: 300px;
  }

  .hero-right .row {
    gap: 1rem;
  }

  .hero-right .row:nth-child(1),
  .hero-right .row:nth-child(3) {
    height: 250px !important;
  }

  .roadmap-box-content {
    padding: 30px 18px;
    border-radius: 24px;
  }

  /*  */
  /*  */
  /*  */

  .roadmap-box {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .roadmap-box:not(:first-child) {
    /* border: 2px solid blue; */
    padding-left: 3rem;
  }

  .roadmap-content::before {
    left: 10px;
    transform: none;
  }

  .bottle {
    width: 45px;
    height: 135px;
    left: -10px;
  }

  .bottle svg {
    width: 100%;
  }
}
