/* Montserrat And Teko Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Teko:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.teko {
  font-family: "Teko", sans-serif !important;
}

:root {
  font-size: 100%;

  --fs-96px: 96px;
  --fs-22px: 22px;
  --fs-144px: 144px;
  --fs-30px: 30px;
  --fs-28px: 28px;
  --fs-24px: 24px;
  --fs-16px: 16px;
  --fs-180px: 180px;
  --fs-48px: 48px;
  --fs-18px: 18px;

  --lh-90px: 90px;
  --lh-32px: 32px;
  --lh-36px: 36px;
  --lh-26px: 26px;
  --lh-42px: 42px;

  /* colors */
  --black: #000000;
  --dark-blue: #04060f;
  --gray: #454545;
  --pink: #fe9ec4;
}

/* font-sizes */
.fs-96px {
  font-size: var(--fs-96px);
}
.fs-22px {
  font-size: var(--fs-22px);
}
.fs-144px {
  font-size: var(--fs-144px);
}
.fs-30px {
  font-size: var(--fs-30px);
}
.fs-28px {
  font-size: var(--fs-28px);
}
.fs-24px {
  font-size: var(--fs-24px);
}
.fs-16px {
  font-size: var(--fs-16px);
}
.fs-180px {
  font-size: var(--fs-180px);
}
.fs-48px {
  font-size: var(--fs-48px);
}
.fs-18px {
  font-size: var(--fs-18px);
}

/* Line-heights */
.lh-90px {
  line-height: var(--lh-90px);
}
.lh-32px {
  line-height: var(--lh-32px);
}
.lh-36px {
  line-height: var(--lh-36px);
}
.lh-26px {
  line-height: var(--lh-26px);
}
.lh-42px {
  line-height: var(--lh-42px);
}

/* colors */
.black {
  color: var(--black);
}
.dark-blue {
  color: var(--dark-blue);
}
.gray {
  color: var(--gray);
}
.pink {
  color: var(--pink);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-blue {
  background-color: #aadde4;
}

/* font-weights */
.weight-9 {
  font-weight: 900;
}
.weight-8 {
  font-weight: 800;
}
.weight-7 {
  font-weight: 700;
}
.weight-6 {
  font-weight: 600;
}
.weight-5 {
  font-weight: 500;
}
.weight-4 {
  font-weight: 400;
}
.weight-3 {
  font-weight: 300;
}

/* margins */
.mb-5px {
  margin-bottom: 5px;
}
.mb-10px {
  margin-bottom: 10px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-25px {
  margin-bottom: 25px;
}
.mb-30px {
  margin-bottom: 30px;
}
.mb-35px {
  margin-bottom: 35px;
}
.mb-40px {
  margin-bottom: 40px;
}
.mb-45px {
  margin-bottom: 45px;
}
.mb-50px {
  margin-bottom: 50px;
}
.mb-55px {
  margin-bottom: 55px;
}
.mb-60px {
  margin-bottom: clamp(40px, 4.166666666666667vw, 60px);
}
.mb-70px {
  margin-bottom: 70px;
}
.mb-75px {
  margin-bottom: 75px;
}
.mb-80px {
  margin-bottom: 80px;
}
.mb-100px {
  margin-bottom: clamp(50px, 6.944444444444445vw, 100px);
}
.mb-150px {
  margin-bottom: clamp(80px, 10.416666666666666vw, 150px);
}

/* paddings */
.py-100px {
  padding-top: 100px;
  padding-bottom: 100px;
}
.py-200px {
  padding-top: 200px;
  padding-bottom: 200px;
}

/* radiuses */
.radius-12px {
  border-radius: 12px;
}

/* Configurations */
.container-wrapper {
  max-width: 1800px;
  width: 90%;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}
